.form{
  display: inline-grid;
}

mat-card-header{
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

.image-product{
  background-color: #ddd;
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

mat-card-actions{
  display: grid;
}

mat-radio-button{
  display: grid;
}

.checkbox{
  display: grid;
}

.itensProduct{
margin-bottom: 5%;
}

.quantity{
  text-align: justify;
}

.btn-book-a-table{
  background-color: #CE1212;
  color: white;
  border-radius: 50px;
  margin-bottom: 5%;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 720px; /* Ajusta a largura máxima */
  margin: auto;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 50px; /* Espaçamento maior para telas maiores */
    width: 800px;
  }
}

.image-product {
  border-radius: 10px;
  border: 2px solid #ffdddd;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    width: 300px;
    height: 300px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.product-details {
  text-align: center;
  max-width: 400px;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-family: 'Poppins', sans-serif; /* Fonte moderna e arredondada */
  font-size: 25px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito para destaque */
  color: #fff; /* Cor do texto em branco */
  background: linear-gradient(90deg, #55ce71, #55a869); /* Gradiente verde */
  padding: 5px 5px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
  display: inline-block; /* Ajusta a largura ao conteúdo */
  text-align: center; /* Centraliza o texto */
}

.product-description,
.product-sideDish {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.actions-wrapper {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;

  @media (min-width: 768px) {
    justify-content: center;
    width: 100%;
  }
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.quantity-container {
  display: flex;
  align-items: center;

  .quantity-field {
    margin: 0 10px;
    width: 100px;
    text-align: center;

    @media (max-width: 768px) {
      width: 25%;
      margin-bottom: 10px;
    }
  }

  button {
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 24px;
  }
}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-product {
  border-radius: 10px;
  border: 2px solid #ffdddd;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    width: 300px;
    height: 300px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.product-details {
  text-align: center;
  max-width: 400px;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, #55ce71, #55a869);
  padding: 5px 5px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}

.product-description,
.product-sideDish {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.actions-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px; /* Espaçamento entre os elementos */
}

.quantity-container {
  display: flex;
  align-items: center;

  .quantity-field {
    margin: 0 10px;
    width: 100px;

    @media (max-width: 768px) {
      width: 70px; /* Ajuste a largura para dispositivos móveis */
    }
  }

  button {
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 24px;
  }
}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 10px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #d8474b;
  }

  mat-icon {
    margin-left: 5px; /* Ajuste o espaçamento conforme necessário */
  }

  @media (max-width: 768px) {
    font-size: 0.9em; /* Ajuste de tamanho de fonte para telas menores */
    padding: 8px;
  }
}


.button-submit {
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1em;
  padding: 10px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #d8474b;
  }

  mat-icon {
    margin-right: 5px;
  }

  @media (max-width: 768px) {
    width: 50%;
  }
}

.itensProduct {
  margin-bottom: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-content {
  padding: 20px;
}

.item-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.item-description {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

.item-actions {
  margin-top: 10px;
}

.item-options,
.item-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #ff6f61; /* Cor de destaque */
  color: #fff; /* Cor do texto */
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 8px; /* Borda arredondada */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #d8474b; /* Cor de destaque ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
  }

  mat-icon {
    margin-right: 8px; /* Espaço entre ícone e texto */
    font-size: 1.2em; /* Tamanho do ícone */
  }

  @media (max-width: 768px) {
    padding: 8px 16px; /* Ajuste de padding para telas menores */
    font-size: 0.9em; /* Ajuste de tamanho de fonte para telas menores */
  }
}

.description-field {
  width: 100%;

  textarea {
    min-height: 100px; /* Ajuste a altura mínima do textarea */
  }
}

.banner {
  background-color: #ff4d4d; /* Vermelho claro */
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .banner {
    font-size: 14px;
    padding: 8px;
  }
}


