.logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;/* Cor de fundo opcional */
}

.logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px; /* Ajuste conforme necessário */
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #ff6f61; /* Cor de fundo do botão */
  border: none;
  border-radius: 50%; /* Faz o botão ficar circular */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
  width: 60px; /* Ajuste o tamanho conforme necessário */
  height: 60px; /* Ajuste o tamanho conforme necessário */
  position: relative;
}

.logout-button mat-icon {
  font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

.logout-button:hover {
  background-color: #d8474b; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    margin-top: 30px;
  }
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    
    @media (max-width: 768px) {
      padding: 10px;
    }
    
    div {
      margin-bottom: 15px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input, select {
      padding: 10px;
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 25px;
    }
  
    button {
      padding: 10px;
      font-size: 16px;
      width: 100%;
      border-radius: 25px;
      background-color: #ff6f61;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: #d8474b;
      }
  
      &:disabled {
        background-color: #ccc;
      }
    }
  }