<mat-card class="order-card">
    <mat-card-header>
      <button mat-icon-button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-title>{{establishment.name}}</mat-card-title>
    </mat-card-header>
    <div class="establishment-card">
      <span class="info-label" *ngIf="establishment.hours">Funcionamento:</span>
      <span class="info-value" *ngIf="establishment.hours">{{operationHours != '' ? 'Hoje das ' + operationHours : 'Sem horário de funcionamento.'}}</span>
      <br>
      <br>
      <a class="info-value" href="https://www.google.com/maps/search/?api=1&query={{establishment.address}}" target="_blank">
        {{establishment.address}}
      </a>       
    </div>
  </mat-card>
  